.home-card{
    height:325px !important;
    width: 295px !important;
    /* background-color:rgb(25, 25, 66) !important ;
    color: white !important; */
    border: 2px solid rgb(25, 25, 66) !important;
    /* background-color: rgb(235, 238, 241) !important; */
    transition: all 0.5s ease-in-out; 
    box-shadow: 0 20px 40px 0 rgba(47, 78, 117, 0.4);
  
   
    
}
.home-card:hover{
    transform: scale(1.1);
}
.home-card-title{
    font-size: 30px !important;
    font-weight: 600 !important;
   


}
.home-card-text{
    font-size: 20px  !important;
    text-align: center;
    margin-top: 20px;
 
   
}

.home-card-button{
    width: 45% !important;
    /* margin-top: 10px !important; */
    color: white !important;
    background-color: rgb(25, 25, 66) !important;
}
.home-card-btn{
        margin-top: 50px !important;
}