@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:wght@300&family=Poppins:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body, html {
    height:100%;
  }

 .adopt-container{
    background: url(../Images/cat-dog.jpg) no-repeat center center ;
  background-size: cover;
 
  overflow: hidden;
  height: 700px;
  margin-top:175px;
  
} 



.adopt-heading{
    position: absolute;
    top:80px;
    left:400px;
    color:  #a2a2a2;
     font-size: 160px;
     font-weight: 600;
     
    
}
.adopt-heading2{
    position: relative;
    color: white;
    font-size:30px;
    font-family: 'Aboreto', cursive;
    font-weight: 700;
    padding-top: 70px;
    padding-left:300px;
    text-shadow: 2px 2px grey;
   
}

.adopt-text{
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    font-size:30px;
    font-style: italic;
    font-weight: 600;
    font-family: 'Aboreto', cursive;
    
    transition: all 0.5s ease-in-out; 
   
    text-align: center;
    
    
}
.adopt-cards{
    
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    /* justify-content: space-e; */
    /* max-width: 700px; */
    /* flex-wrap: wrap; */
    margin-bottom: 200px;
    /* justify-content: center; */
    /* margin-left:75px; */
   /*margin-top:35px !important; */
    /* flex-basis: 33.333333% ; */
    
}




